// Creating Varialble
$primary-color : #272727;
$accent-color : #ff652f;
$text-color : #fff;
$highlight : 'border: 2px solid red';
$mobile : 800px;
// Creating map
$font-weights : (
    "regular" : 400,
    "medium" : 500,
    "bold" : 700,
);